<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/style-products.css"></link>
  </head>
  <!-- EN CONSTRUCCION... -->
  <!-- DESDE ACA... hay que armar la vista de productos, quizás no hagan falta separarlo por categorías y por marcas -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIN -->
    <!-- <main class="main-products"> VER SI NO TIENE EFECTOS -->
        <main class="main-sections">
            <section>
              <h3 class="main-section-title">Solo Saldos</h3>
              <div class="products-articles">
                <!-- ############# -->
                <% products.forEach(products => { %>
                    <% let i=1; %>
                    <% if ((products.category_id==10 ) && (i<20)) { %>
                    <% i++; %>
                  <%- include("partials/article", {products}) %>
                  <% } %>
                <% }) %>      
                <!-- ############# -->
              </div>
            </section>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
