<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electricidad Belgrano</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <link rel="stylesheet" href="css/normalize.css"></link>
    <script src="https://kit.fontawesome.com/a3f2ed9b5b.js" crossorigin="anonymous"></script>
  </head>
  <div class="top-header-top">Materiales eléctricos</div>
  <body>
    <header class="main-header">
      <div class="logo-search-user">
        <div class="header-log">
          <div class="burger-button">
            <i class="fas fa-bars"></i>
          </div>
          <a href="https://www.google.com/search?q=electricidad+belgrano&rlz=1C1VDKB_esAR1017AR1017&oq=ele&aqs=chrome.0.69i59l2j69i57j0i67i131i433j0i67i457j0i402l2j0i512j46i131i199i433i465i512j46i67i175i199.1880j0j15&sourceid=chrome&ie=UTF-8"><img class="header-image-log" id="logo" width="180" src="./images/00-Logo-chico.png" alt="logo-elect-belgrano"/></a>
        
        <div class="header-navbar-search">
          <i class="fas fa-search"></i>
        </div>
        <div class="cart-user">
          <div>
            <a class="cart-icon-1" href=""><i class="fab fa-facebook"></i></i></a>
          </div>
          <div>
            <a class="cart-icon-2" href=""><i class="fas fa-cart-plus" style="font-size: 40px;"></i></a>
          </div>
          <div>
            <a class="cart-icon-3" href=""><i class="fas fa-user" style="font-size: 40px;" ></i></a>
          </div>
        </div>
      </div>
    </div>
      <!-- ############# -->
      <nav class="nav-categories">
          <li><a href="">MÁS CATEGORIAS</i></a></li>
          <li><a href="">LÁMPARAS</a></li>
          <li><a href="">ILUMINACIÓN</a></li>
          <li><a href="">INTERRUPTORES</a></li>
          <li><a href="">CABLES</a></li>
          <li><a href="">CANALIZACIONES</a></li>
      </nav>
     
    </header>
    <div class="main-provisorio">
  
  </div>
    <main class="main-leading">Hola gente</main>
  
  </body>


  
<!-- footer_block -->
<footer class="footer-general">   
  <ul class="footer-navbar-categories">
    <a href="/about-us"><li>Quiénes somos</li></a>
      <a href="/contacto"><li>Contacto</li></a>
      <a href="/contact"><li>Pedir Presupuesto</li></a>                  
      <a href="/faq"><li>Preguntas frecuentes</li></a>
      <a href="" target="_blank"><li>Electricidad Belgrano</li></a>
  </ul>                  
  </footer>
</html>
