<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electricidad Belgrano</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <link rel="stylesheet" href="css/normalize.css"></link>
    <script src="https://kit.fontawesome.com/a3f2ed9b5b.js" crossorigin="anonymous"></script>
  </head>
  <div class="top-header-top">Materiales eléctricos</div>
  <body>
    <!-- HEADER -->
    <!-- &&&& -->

    <!-- MAIN -->
    <main class="main-product">
        <div class="product-figure&info">
            <figure class="product-figure">
                <img src="./images/products/01-Luminaria-Emergencia-40LEDs.jpg" alt="Figura del producto seleccionado">
            </figure>
            <div class="product-info">
                <h3 class="product-info-name">Nombre del producto</h3>
                <h5 class="product-info-brand">Marca del producto</h5>
                <p class="product-info-price"><b>&#x24 PRECIO</b> c/u</p>
                <div class="producto-quantity">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="2000">
                </div>
                <div class="producto-add-to-chart">
                    <button width="70%" heigth="25px">Agregar al carrito 
                        <i class="fas fa-cart-plus" style="font-size: 20px;"></i>
                    </button>
                </div>
                <br>

                

            </div>


        </div>
    </main>
    <!-- &&&& -->

    <!-- FOOTER -->
    <!-- &&&& -->
  </body>
</html>
