@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  margin: 0 px;
  padding: 0 px;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/* &&&& */
/* HEADER */

.top-header-top {
  background: #c2bfbf;
  text-align: center;
  justify-content: center;
  padding: 2px;
  font-size: medium;
}
.main-header {
  /*display: flex;
  justify-content: space-around;*/
  text-align: center;
  background: linear-gradient(#ffffff, #bebebe);
  padding: 5px;
  justify-content: space;
  scroll-behavior: smooth;
}

.header-log {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-image-log {
  border-radius: 5px;
  max-width: 60px;
  padding: 0 0 0 6px;
}

.logo-search-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navbar-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar-header {
  justify-content: center;
  align-items: center;
  width: 70%;
}

.search-bar {
  display: none;
  width: 100%;
  border-radius: 4px;
}

.button.search {
  display: flex;
  margin: auto;
}
.fas-fa-search {
  width: 100px;
}

.cart-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fab.fa-facebook {
  color: #1f1f1f;
  transition: all 1s;
  padding: 5px;
  width: 30px;
}

.cart-icon-2 {
  color: #1f1f1f;
  transition: all 1s;
  padding: 5px;
}

.cart-icon-3 {
  color: #1f1f1f;
  transition: all 1s;
  padding: 5px;
}

.cart-icon i:hover {
  rotate: -30deg;
  color: rgb(137, 137, 204);
}

.nav-categories {
  display: none;
  padding: 4px 0 4px 0;
}

.burger-button {
  color: #3b3a3a;
  display: block;
  min-width: 35px;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

.nav-categories li {
  list-style: none;
  padding: 0;
  margin: 2px 0 2px 0;
  border: solid 1px gray;
  border-radius: 4px;
}

.nav-categories a {
  text-decoration: none;
  color: #1f1f1f;
  display: inline-block;
  padding: 5px 5px;
  font-size: 18px;
}

/* &&&& */
/* MAIN */

.main-leading {
  display: block;
  width: 100vw;
  height: 100vw;
  text-align: center;
}

/* &&&& */
/* FOOTER */

.footer-general {
  display: flex;
  justify-content: center;
  padding: 0 35px 0 0;
  background: linear-gradient(#bebebe, #ffffff);
  min-height: min-content;
}

.footer-navbar-categories a {
  list-style: none;
  border: solid 1px gray;
  border-radius: 4px;
  text-decoration: none;
  color: #1f1f1f;
  display: flex;
}

/* MEDIA - TABLET CUT */

@media (min-width: 768px) {
  /* BODY */

  /* &&&& */
  /* HEADER */

  .nav-categories {
    display: block;
  }
  .burger-button {
    display: none;
    background-color: #3f3d3d;
  }
  .logo-search-user {
    display: flex;
    justify-content: space-between;
  }
  .header-log {
    min-width: 150px;
    min-height: 150px;
  }
  .header-image-log {
    min-width: 150px;
    min-height: 150px;
  }
  .search-bar {
    display: flex;
  }

  /* &&&& */
  /* MAIN */

  /* &&&& */
  /* FOOTER */
}

/* MEDIA - PC CUT */
