/* EN CONSTRUCCION... */

/* CATEGORIES STYLES */
/* &&&&&&&&&&& */

/* &&&& */
/* MAIN */

.main-sections {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.main-sections article {
  max-width: 240px;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  margin-bottom: 10px;
  align-content: center;
  text-align: center;
}

.main-section-title {
  font-size: 24px;
}

/* flex */
.category-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.main-sections article img {
  width: 95%;
}

.main-section-article-info {
  position: relative;
}

/* .main-section-article-info .fa-truck {
  color: #39b54a;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
} */

.main-section-article-info-price {
  display: flex;
}

.article-price {
  font-size: 18px;
  padding: 0 10px 0 0;
}

.article-discount {
  font-size: 16px;
  color: green;
}

.article-name {
  font-size: 16px;
  text-align: left;
  display: block;
  margin: 0;
  /* visibility: hidden; */
}

/* MEDIAS */
/*Tablets cut*/

@media (min-width: 520px) {
  /* Flex */

  .main-sections article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  /* .main-sections article:hover .article-name {
    visibility: visible;
  } */

  /* .main-sections article:hover .fa-truck {
    transform: rotate(-90deg);
  } */
}

/*PC cut*/

@media (min-width: 820px) {
  .main-sections {
    max-width: 1300px;
  }
}
