/* USERS STYLES */
/* &&&&&&&&&&& */

/* &&&& */
/* MAIN */

.main-users {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.users-title {
  font-size: 24px;
}

/* SIN FLEX */
.users-articles {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  margin-bottom: 10px;
  text-align: center;
}

.user-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  margin-bottom: 10px;
  align-content: center;
  text-align: center;
}

.user-article img {
  width: 30% !important;
  max-width: 140px !important;
  border-radius: 15px;
}

.article-attr {
  font-size: 14px;
  text-align: left;
  display: block;
  margin: 0;
  /* visibility: hidden; */
}

.detail-button {
  background-color: blue;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 5px;
  margin-bottom: 10px;
  width: 100%;
}

.delete-button {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 5px;
  margin-bottom: 10px;
  width: 100%;
}

/* MEDIAS */
/*Tablets cut*/

@media (min-width: 520px) {
  /* Flex */

  .main-users article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  /* .main-sections article:hover .article-name {
    visibility: visible;
  } */

  /* .main-sections article:hover .fa-truck {
    transform: rotate(-90deg);
  } */
}

/*PC cut*/

@media (min-width: 920px) {
  .main-users {
    max-width: 1300px;
  }
}

/* LOGIN STYLES */
/* &&&&&&&&&&& */

.main-login {
  display: flex;
  justify-content: center;
}

.form-login {
  width: 300px;
  background: #4e4d4d;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #800505;
  color: white;
}

.form-login h3 {
  font-size: 18px;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.main-register {
  display: flex;
  justify-content: center;
}

.form-register {
  width: 300px;
  background: #4e4d4d;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #800505;
  color: white;
}

.form-register h3 {
  font-size: 18px;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.controls {
  width: 100%;
  border: 1px solid #800505;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #b5b2b2;
  font-weight: bold;
  text-align: center;
}

.buttons {
  width: 100%;
  height: 40px;
  background: #800505;
  border: none;
  color: white;
}

.form-login p {
  height: 30px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: white;
  text-decoration: none;
}

.form-login a:hover {
  text-decoration: underline;
}

/* REGISTER STYLES */
/* &&&&&&&&&&& */

.main-register {
  display: flex;
  justify-content: center;
}

.form-register {
  width: 400px;
  background: #4e4d4d;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-radius: 4px;
  color: white;
}

.form-register h3 {
  font-size: 18px;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.form-register p {
  height: 30px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  text-decoration: underline;
}

/* PROFILE STYLES */
/* &&&&&&&&&&& */
.user-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.profile-user {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 15px;
}

.div-create-forms,
.div-create-img {
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 5px;
  color: rgb(67, 67, 67);
  font-size: 14px;
}

.div-create-img img {
  border-radius: 15px;
}

/* MEDIA QUERIES*/
/* &&&&&&&&&&& */

@media (min-width: 520px) {
  .profile-user {
    display: flex;
    width: 85%;
    max-width: 750px;
  }
  .profile-user-img {
    width: 60%;
  }
  .profile-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .div-create-forms {
    font-size: 18px;
  }
}

/* DETAIL STYLES */
/* &&&&&&&&&&& */

.detail-user {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.detail-user-img {
  padding: 5px 5px;
  width: 45%;
  max-width: 180px;
}

.detail-user-img img {
  width: 100%;
  max-width: 180px;
  border-radius: 15px;
}

.detail-user-info {
  padding: 5px 5px;
  width: 45%;
  max-width: 180px;
}

.detail-attr {
  font-size: 14px;
  text-align: left;
  display: block;
  margin: 0;
  padding: 5px 5px;
  /* visibility: hidden; */
}

.detail-user-actions {
  padding: 5px 5px;
  width: 100%;
  color: rgb(67, 67, 67);
  /* font-size: 12px; */
}

.edit-button {
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 5px;
  margin-bottom: 10px;
  width: 100%;
}

.detail-user-activity {
  width: 100%;
  max-width: 1020px;
}

/* MEDIA QUERIES*/
/* &&&&&&&&&&& */

@media (min-width: 520px) {
  .user-detail-form {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
  }

  .detail-user {
    display: block;
    width: 30%;
    max-width: 280px;
  }

  .detail-user-img {
    width: 100%;
  }

  .detail-user-info {
    width: 100%;
  }

  .detail-user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .detail-user-actions {
    font-size: 18px;
  }
}
