@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  margin: 0 px;
  padding: 0 px;
  box-sizing: border-box;
}

/* GENERAL STYLES */
/* &&&&&&&&&&& */
/* BODY */

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/* &&&& */
/* HEADER */

.main-header {
  /* background: linear-gradient(#ffffff, #bebebe); */
  display: block;
  margin: auto;
  padding: 10px;
}

.main-header-top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.main-header-logo {
  width: 30%;
  max-width: 140px;
}

.main-header-logo img {
  width: 100%;
}

/* .slogan {
  display: none;
} */

.main-header-search-bar {
  width: 50%;
}

.main-header-search-bar form {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
}

.main-header-search-bar input[type="text"] {
  flex-grow: 2;
  height: 25px;
  border-radius: 2px;
  border: none;
  width: 90%;
}

.main-header-search-bar button {
  background-color: white;
  float: right;
  height: 25px;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 10%;
}

.main-header-cart {
  width: 10%;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-cart a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-user {
  width: 10%;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-user a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-nav-categories {
  display: none;
  list-style: none;
}

.main-header-nav-categories a {
  display: inline-block;
  padding: 5px 0px;
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-burger-menu {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: rgb(67, 67, 67);
  color: white;
  margin: auto;
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px;
}

.main-header-burger-menu a {
  color: white;
}

/* &&&& */
/* FOOTER */

.main-footer {
  display: block;
  margin: auto;
  padding: 10px;
  background: linear-gradient(#bebebe, #ffffff);
}

.main-footer-nav-info {
  width: 100%;
  list-style: none;
  text-align: center;
}

.main-footer-nav-info a {
  display: inline-block;
  width: 120px;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-decoration: none;
  color: rgb(67, 67, 67);
  border: 1px solid rgb(67, 67, 67);
  border-radius: 4px;
}

/* MEDIAS */
/*Tablets cut*/

@media (min-width: 520px) {
  /* HEADER */
  .main-header-nav-categories {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-header-nav-categories a {
    padding: 2px;
    border-right: 1px solid rgb(67, 67, 67);
  }

  .main-header-burger-menu {
    display: none;
  }

  /* FOOTER */
  .main-footer-nav-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .main-footer-nav-info a {
    width: 160px;
  }
}

/*PC cut*/
/*Corte para desktop*/
@media (min-width: 920px) {
  body {
    font-size: 16px;
  }

  .main-footer-nav-info a {
    width: 240px;
  }
}

/* HOME STYLES */
/* &&&&&&&&&&& */

.main-home-spot-1 {
  text-align: center;
}

/* PRODUCT STYLES */
/* &&&&&&&&&&& */

.main-product {
  padding: 10px;
  margin: 0 10px;
}

.product-figure-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.product-figure {
  width: 50%;
}

.product-figure img {
  width: 100%;
}

.product-info {
  width: 50%;
  align-content: center;
}

.product-info-uses {
  margin-right: 10px;
}

.product-description {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* LOGIN STYLES */
/* &&&&&&&&&&& */

.main-login {
  display: flex;
  justify-content: center;
}

.form-login {
  width: 300px;
  background: #4e4d4d;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #800505;
  color: white;
}

.form-login h3 {
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.controls {
  width: 100%;
  border: 1px solid #800505;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-weight: bold;
  text-align: center;
}

.buttons {
  width: 100%;
  height: 30px;
  background: #800505;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.form-login p {
  height: 30px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: white;
  text-decoration: none;
}

.form-login a:hover {
  text-decoration: underline;
}

/* REGISTER STYLES */
/* &&&&&&&&&&& */

.main-register {
  display: flex;
  justify-content: center;
}

.form-register {
  width: 400px;
  background: #4e4d4d;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-radius: 4px;
  color: white;
}

.form-register h3 {
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.form-register p {
  height: 30px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  text-decoration: underline;
}

/* PRODUCT CART STYLES */
/* &&&&&&&&&&& */
.cart-title {
  margin-left: 20px;
}

.cart-summary {
  background: #f5f5f5;
  margin-bottom: 25px;
  padding: 1px 15px 25px;
  margin: 15px;
  border-radius: 4px;
}

.summary-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

.summary-calculo-envio {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border: 1px rgb(190, 190, 190);
  border-style: solid none;
  padding: 10px 0;
}

.cart-totals {
  font-size: 14px;
  padding-left: 4px;
}

.cart-totals-sub {
  display: flex;
  justify-content: space-between;
}

.cart-totals-cost {
  display: flex;
  justify-content: space-between;
}

.cart-grand-total {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(190, 190, 190) 1px;
}

.final-payment {
  display: flex;
  justify-content: center;
}

.button-final-payment {
  margin-top: 6px;
  font-size: 20px;
  width: 95%;
  background-color: rgb(161, 161, 161);
  border-radius: 5px;
}

.cart-items {
  margin: 15px;
}

.cart-article-detail {
  display: flex;
  align-items: center;
  border-top: solid 1px rgb(190, 190, 190);
}

.cart-product-image {
  width: 12%;
}

.cart-article-description {
  width: 88%;
  max-width: 400px;
  font-size: 14px;
}

.cart-article-detail-prices {
  display: flex;
  justify-content: space-around;
  font-size: 17px;
}

.cart-aricle-price {
  text-align: center;
}

.cart-aricle-quantity {
  text-align: center;
}

.cart-aricle-quantity-number {
  border: solid 1px black;
}

.cart-aricle-sub-total {
  text-align: center;
}

.cart-article-buttons {
  display: flex;
  justify-content: center;
}

.edit-cart {
  margin: 5px;
}

.button-edit-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 75px;
  height: 20px;
  border-radius: 2px;
}

.delete-article {
  margin: 5px;
}

.button-delete-article {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 110px;
  height: 20px;
  border-radius: 2px;
}

.cart-main-actions {
  margin: 15px;
  text-align: center;
}

.keep-shopping {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-keep-shopping {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-angle-left {
  padding: 5px;
}

.copy-link-cart {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-copy-link-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-empty-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-cart {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-update-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-sync-alt {
  padding: 5px;
}

/* MEDIAS */

/*Desktop cut*/

@media (min-width: 920px) {
  .product-cart-main-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }

  .cart-summary {
    width: 20%;
  }

  .all-cart-items {
    width: 75%;
  }

  .cart-item-container {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px rgb(190, 190, 190);
  }

  .cart-article-detail {
    width: 70%;
    border-top: none;
  }

  .cart-article-detail-prices {
    position: relative;
    bottom: 25px;
  }

  .cart-aricle-price,
  .cart-aricle-quantity,
  .cart-aricle-sub-total {
    margin: 0 2px;
  }

  .cart-aricle-price-h5,
  .cart-aricle-quantity-h5,
  .cart-aricle-sub-total-h5 {
    position: relative;
    bottom: 15px;
  }

  .button-delete-article {
    height: 20px;
    width: 150px;
  }

  .cart-main-actions {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 35px;
  }

  .button-keep-shopping,
  .button-copy-link-cart,
  .button-empty-cart,
  .button-update-cart {
    height: 45px;
  }
}
