/* PRODUCT STYLES */
/* &&&&&&&&&&& */

.main-product {
  padding: 20px;
  margin: auto;
  max-width: 769px;
}

.product-figure-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.product-figure {
  width: 100%;
}

.product-figure img {
  width: 100%;
}

.product-info {
  width: 100%;
  align-content: center;
}

.product-info-title {
  font-size: 20px;
  text-align: left;
  border-bottom: solid 1px rgb(150, 150, 150);
}

.product-info-brand {
  margin-bottom: 15px;
}

.product-info-price {
  font-size: 18px;
}

.product-info-price-number {
  font-weight: 400;
}

.product-quantity {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.product-quantity-input {
  width: 55px;
  height: 55px;
  border: 1px solid rgb(150, 150, 150);
  margin-top: 5px;
}

.product-add-to-cart,
.product-payment-options {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-add-to-wishes {
  font-size: 16px;
  text-align: center;
}

.product-info-uses {
  font-size: 16px;
  text-align: center;
}

.product-description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

/* MEDIA QUERIES */
/* &&&&&&&&&&& */

@media (min-width: 520px) {
  .main-product {
    max-width: 1200px;
  }
  .product-figure-info {
    display: flex;
    flex-direction: row;
  }
  .product-figure {
    width: 45%;
  }

  .product-info {
    width: 50%;
  }
}

/* PRODUCT CART STYLES */
/* &&&&&&&&&&& */
.cart-title {
  margin-left: 20px;
}

.cart-summary {
  background: #f5f5f5;
  margin-bottom: 25px;
  padding: 1px 15px 25px;
  margin: 15px;
  border-radius: 4px;
}

.summary-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

.summary-calculo-envio {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border: 1px rgb(190, 190, 190);
  border-style: solid none;
  padding: 10px 0;
}

.cart-totals {
  font-size: 14px;
  padding-left: 4px;
}

.cart-totals-sub {
  display: flex;
  justify-content: space-between;
}

.cart-totals-cost {
  display: flex;
  justify-content: space-between;
}

.cart-grand-total {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(190, 190, 190) 1px;
}

.final-payment {
  display: flex;
  justify-content: center;
}

.button-final-payment {
  margin-top: 6px;
  font-size: 20px;
  width: 95%;
  background-color: rgb(161, 161, 161);
  border-radius: 5px;
}

.cart-items {
  margin: 15px;
}

.cart-article-detail {
  display: flex;
  align-items: center;
  border-top: solid 1px rgb(190, 190, 190);
}

.cart-product-image {
  width: 12%;
}

.cart-article-description {
  width: 88%;
  max-width: 400px;
  font-size: 14px;
}

.cart-article-detail-prices {
  display: flex;
  justify-content: space-around;
  font-size: 17px;
}

.cart-aricle-price {
  text-align: center;
}

.cart-aricle-quantity {
  text-align: center;
}

.cart-aricle-quantity-number {
  border: solid 1px black;
}

.cart-aricle-sub-total {
  text-align: center;
}

.cart-article-buttons {
  display: flex;
  justify-content: center;
}

.edit-cart {
  margin: 5px;
}

.button-edit-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 75px;
  height: 20px;
  border-radius: 2px;
}

.delete-article {
  margin: 5px;
}

.button-delete-article {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 110px;
  height: 20px;
  border-radius: 2px;
}

.cart-main-actions {
  margin: 15px;
  text-align: center;
}

.keep-shopping {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-keep-shopping {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-angle-left {
  padding: 5px;
}

.copy-link-cart {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-copy-link-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-empty-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-cart {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button-update-cart {
  background-color: rgb(210, 210, 210);
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-sync-alt {
  padding: 5px;
}
.quienes-somos{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  
}
.ubicacion-quienes{

  display: flow-root;
  justify-content: center ;
  margin: 10px;
  align-items: normal;
}
.titulo-quienes{
  display: flex;
  text-align:center;
  color: red;
  align-items: flex-end;
  
}
.parrafo-quienes{
  display: block;
  text-align: center;
  color: rgb(59, 58, 58);
  margin: 0 20px 30px 20px;
}

/* MEDIAS */

/*Desktop cut*/

@media (min-width: 920px) {
  .product-cart-main-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }

  .cart-summary {
    width: 20%;
  }

  .all-cart-items {
    width: 75%;
  }

  .cart-item-container {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px rgb(190, 190, 190);
  }

  .cart-article-detail {
    width: 70%;
    border-top: none;
  }

  .cart-article-detail-prices {
    position: relative;
    bottom: 25px;
  }

  .cart-aricle-price,
  .cart-aricle-quantity,
  .cart-aricle-sub-total {
    margin: 0 2px;
  }

  .cart-aricle-price-h5,
  .cart-aricle-quantity-h5,
  .cart-aricle-sub-total-h5 {
    position: relative;
    bottom: 15px;
  }

  .button-delete-article {
    height: 20px;
    width: 150px;
  }

  .cart-main-actions {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 35px;
  }

  .button-keep-shopping,
  .button-copy-link-cart,
  .button-empty-cart,
  .button-update-cart {
    height: 45px;
  }

}

/* PRODUCTS STYLES */
/* &&&&&&&&&&& */

/* &&&& */
/* MAIN */

.main-sections {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.main-sections article {
  max-width: 240px;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  margin-bottom: 10px;
  align-content: center;
  text-align: center;
}

.main-section-title {
  font-size: 24px;
}

/* flex */
.products-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.main-sections article img {
  width: 95%;
}

.main-section-article-info {
  position: relative;
}

/* .main-section-article-info .fa-truck {
  color: #39b54a;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
} */

.main-section-article-info-price {
  display: flex;
}

.article-price {
  font-size: 18px;
  padding: 0 10px 0 0;
}

.article-discount {
  font-size: 16px;
  color: green;
}

.article-name {
  font-size: 16px;
  text-align: left;
  display: block;
  margin: 0;
  /* visibility: hidden; */
}

/* MEDIAS */
/*Tablets cut*/

@media (min-width: 520px) {
  /* Flex */

  .main-sections article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  /* .main-sections article:hover .article-name {
    visibility: visible;
  } */

  /* .main-sections article:hover .fa-truck {
    transform: rotate(-90deg);
  } */
}

/*PC cut*/

@media (min-width: 920px) {
  .main-sections {
    max-width: 1300px;
  }
}

/* PRODUCT CREATE STYLES*/
/* &&&&&&&&&&& */

.form-product-create {
  width: 85%;
  margin: auto;
  padding-bottom: 25px;
}

.div-create-forms {
  width: 90%;
  margin: auto;
  text-align: left;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  max-width: 520px;
  border: solid 1px grey;
}

.formularios-create {
  margin: 20px 0;
  padding: 0 20px;
}

.formularios-create-description {
  margin: 20px 0;
  padding: 0 20px;
}

.form-create-title {
  font-size: 20px;
  text-align: center;
  font-weight: 550;
  padding-top: 20px;
}

.form-label-create {
  display: inline-block;
  font-size: 16px;
  margin: 16px 0;
}

.form-input-create {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.form-input-create-description {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.formularios-create-button {
  text-align: left;
}

.button-create {
  margin: 20px 20px;
  background-color: rgb(190, 190, 190);
  font-size: 20px;
  border-radius: 5px;
}

.button-delete {
  margin: 20px 20px;
  background-color: red;
  font-size: 20px;
  border-radius: 5px;
}

/*PC cut*/

@media (min-width: 920px) {
  .div-create-forms {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
  }

  .formularios-create {
    width: 50%;
  }

  .formularios-create-description {
    width: 100%;
  }

  .form-create-title {
    font-size: 26px;
  }
}
