@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  margin: 0 px;
  padding: 0 px;
  box-sizing: border-box;
}

/* GENERAL STYLES */
/* &&&&&&&&&&& */
/* BODY */

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/* &&&& */
/* HEADER */

.main-header {
  /* background: linear-gradient(#ffffff, #bebebe); */
  display: block;
  margin: auto;
  padding: 10px;
}

.main-header-top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.main-header-logo {
  width: 30%;
  max-width: 140px;
}

.main-header-logo img {
  width: 100%;
}

/* .slogan {
  display: none;
} */

.main-header-search-bar {
  width: 50%;
}

.main-header-search-bar form {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
}

.main-header-search-bar input[type="text"] {
  flex-grow: 2;
  height: 25px;
  border-radius: 2px;
  border: none;
  width: 90%;
}

.main-header-search-bar button {
  background-color: white;
  float: right;
  height: 25px;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 10%;
}

.main-header-icons {
  width: 10%;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-icons a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}

/* .main-header-user {
  width: 10%;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-user a {
  text-decoration: none;
  color: rgb(67, 67, 67);
} */

.main-header-nav-categories {
  display: none;
  list-style: none;
}

.main-header-nav-categories a {
  display: inline-block;
  padding: 5px 0px;
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.main-header-burger-menu {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: rgb(67, 67, 67);
  color: white;
  margin: auto;
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px;
}

.main-header-burger-menu a {
  color: white;
}

/* &&&& */
/* FOOTER */

.main-footer {
  display: block;
  margin: auto;
  padding: 10px;
  background: linear-gradient(#bebebe, #ffffff);
}

.main-footer-nav-info {
  width: 100%;
  list-style: none;
  text-align: center;
}

.main-footer-nav-info a {
  display: inline-block;
  width: 120px;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-decoration: none;
  color: rgb(67, 67, 67);
  border: 1px solid rgb(67, 67, 67);
  border-radius: 4px;
}

/* MEDIAS */
/*Tablets cut*/

@media (min-width: 520px) {
  /* HEADER */
  .main-header-nav-categories {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-header-nav-categories a {
    padding: 2px;
    border-right: 1px solid rgb(67, 67, 67);
  }

  .main-header-burger-menu {
    display: none;
  }

  /* FOOTER */
  .main-footer-nav-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .main-footer-nav-info a {
    width: 160px;
  }
}

/*PC cut*/
/*Corte para desktop*/
@media (min-width: 920px) {
  body {
    font-size: 16px;
  }

  .main-footer-nav-info a {
    width: 240px;
  }
}

/* HOME STYLES */
/* &&&&&&&&&&& */

.main-home-spot-1 {
  text-align: center;
}

/* ERRORS STYLES */
/* &&&&&&&&&&& */

.errors {
  background-color: darksalmon;
  color: rgb(79, 0, 19);
  width: 100%;
  border: 1px solid rgb(79, 0, 19);
  text-align: center;
}

.errors ul {
  list-style: none;
}
