@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.logo-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
