<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <!-- <div class="top-header-top">Materiales eléctricos</div> -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIinN -->
    <main class="main-home">
      <div class="main-home-spot-1">
        <video width="90%" loop autoplay muted>
          <source src="./images/videos/EB-MAY-21-SUBS.mp4" />
        </video>
      </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
  </body>
</html>
