<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/style-users.css"></link>
  </head>
  <!-- <div class="top-header-top">Materiales eléctricos</div> -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIN -->
    <!-- ERRORES -->
    <div class="errors">
      <% if (typeof errors != "undefined"){ %>
        <!-- <p style="color: red">ERROR</p> -->
        <ul>
          <%for (let i = 0; i < errors.length; i++){%>
            <li><i class="fas fa-exclamation-triangle"></i>
              <%=errors[i].msg%>
            </li>
            <%}%>
        </ul>
      <%}%>
    </div>
    <main class="main-login">
      <!-- LOGIN FORM -->
      <div class="form-login">
        <form action="/users/login" method="POST">
          <h3>Inicia sesión</h3>
          <label for="">Email</label>
          <input
            class="controls"
            type="email"
            name="email"
            placeholder="ej@ejemplo.com"><br />
          <label for="">Contraseña</label>
          <input
            class="controls"
            type="password"
            name="password"
            placeholder="contraseña"><br />
          <input type="checkbox" name="recordame">
          <label for="recordame">Recordame</label>
          <br>
          <br>
          <input class="buttons" type="submit" name="login" value="Ingresar" />
        </form>
          <br>
          <p><a href="#">Olvidaste tu contraseña?</a></p>
          <p><a href="/users/register">Registrate acá</a></p>
      </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
  </body>
</html>
