<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <!-- <div class="top-header-top">Materiales eléctricos</div> -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIinN -->
    <main class="main-login">
      <div class="form-login">
        <h3>Inicia sesión</h3>
        <br />
        <input
          class="controls"
          type="text"
          name="user"
          value=""
          placeholder="Usuario"
        />
        <br />
        <input
          class="controls"
          type="password"
          name="password"
          value=""
          placeholder="contraseña"
        />
        <br />
        <input class="buttons" type="submit" name="login" value="Ingresar" />
        <br />
        <p><a href="#">Olvidaste tu contraseña?</a></p>
        <br />
        <p><a href="/users/register">Registrate acá</a></p>
      </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
  </body>
</html>
