<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
            <link rel="stylesheet" href="/css/style-products.css">
            </link>
    </head>
    <body>
        <!-- HEADER -->
        <header class="main-header">
            <%- include("partials/header") %>
        </header>
        <!-- &&&& -->
        <!-- MAIN -->
        <main>
            <h3>404! Error! Datos no encontrados.</h3>
        </main>
        <!-- &&&& -->
        <!-- FOOTER -->
        <footer class="main-footer">
            <%- include("partials/footer") %>
        </footer>
        <!-- &&&& -->
    </body>
</html>