<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
            <link rel="stylesheet" href="/css/style-products.css">
            </link>
    </head>
    <body>
        <!-- HEADER -->
        <header class="main-header">
            <%- include("partials/header") %>
        </header>
        <!-- &&&& -->
        <!-- MAIN -->
        <main>
            <h3>404! Error! Datos no encontrados.</h3>
        </main>
        <!-- &&&& -->
        <!-- FOOTER -->
        <footer class="main-footer">
            <%- include("partials/footer") %>
        </footer>
        <!-- &&&& -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>