<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/style-products.css">
        </link>
</head>
<!-- <div class="top-header-top">Materiales eléctricos</div> -->

<body>
    <!-- HEADER -->
    <header class="main-header">
        <%- include("partials/header") %>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main class="main-product">
        <div class="product-figure-info">
            <div class="product-figure">
                <img src=<%= (product.image == undefined) ? "/images/products/img-default-"+product.category.toLowerCase()+".jpg" : "/images/products/"+product.image %>
                width="360" alt="img-<%= product.category.toLowerCase() %>.jpg" />
            </div>
            <div class="product-info">
                <div class="product-info-title">
                    <p class="product-info-name">
                        <%= product.subcategory %>
                    </p>
                    <p class="product-info-brand">
                        <%= product.description %>
                    </p>
                </div>
                <p class="product-info-price"><b class="product-info-price-number">&#x24 <%= product.nonvatPrice %></b>
                    c/u</p>
                <div class="product-quantity">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" class="product-quantity-input" id="quantity" name="quantity" min="1" max="2000">
                </div>
                <br>
                <div>
                    <button class="product-add-to-cart">Agregar al carrito
                        <i class="fas fa-cart-plus" style="font-size: 20px;"></i>
                    </button>
                </div>
                <br>
                <div>
                    <button class="product-payment-options">Ver formas de pago
                        <i class="fas fa-credit-card" style="font-size: 20px;"></i>
                    </button>
                </div>
                <br>
                <div>
                    <form action="/products/edit/<%= product.id %>" method="GET">
                        <button class="product-payment-options">Editar producto
                        </button>
                </div>
                <br>
                <div class="product-add-to-wishes">
                    <a  href="#">Agregar a mi lista de deseos
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
                <!-- <div class="product-payment-options">
                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button style="width:75%" heigth="25px">Borrar producto
                        </button>
                    </form>
                </div> -->
                <br>
                <div>
                    <p class="product-info-uses">Información sobre los posibles usos del producto y sus ventajas</p>
                </div>
            </div>
        </div>
        <div class="product-description">
            <p class="product-full-description">
                <%= product.description %>
            </p>
            <table class="product-description-atributes">
                <tr>
                    <td><b>Marca</b></td>
                    <td class="brand">Nombre de la marca</td>
                </tr>
                <tr>
                    <td><b>Modelo</b></td>
                    <td class="model">Nombre del modelo</td>
                </tr>
                <tr>
                    <td><b>Unidad de medida</b></td>
                    <td class="measure-unit">Tipo de unidad de medida</td>
                </tr>
                <tr>
                    <td><b>Atributo 1</b></td>
                    <td class="att-1">Valor del atributo 1</td>
                </tr>
                <tr>
                    <td><b>Atributo 2</b></td>
                    <td class="att-2">Valor del atributo 2</td>
                </tr>
                <tr>
                    <td><b>Atributo 3</b></td>
                    <td class="att-3">Valor del atributo 3</td>
                </tr>
                <tr>
                    <td><b>Atributo 4</b></td>
                    <td class="att-4">Valor del atributo 4</td>
                </tr>
                <tr>
                    <td><b>Atributo 5</b></td>
                    <td class="att-5">Valor del atributo 5</td>
                </tr>
            </table>
        </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer">
        <%- include("partials/footer") %>
    </footer>
    <!-- &&&& -->
</body>

</html>