<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/style-products.css"></link>
  </head>
  <!-- EN CONSTRUCCION... -->
  <!-- DESDE ACA... hay que armar la vista de productos, quizás no hagan falta separarlo por categorías y por marcas -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIN -->
    <!-- <main class="main-products"> VER SI NO TIENE EFECTOS -->
        <main class="main-sections">
            <section>
              <h3 class="main-section-title">Todos los productos</h3>
              <div class="products-articles">
                <!-- ############# -->
                <% products.forEach(product => { %>
                  <%- include("partials/article", {product}) %>
                <% }) %>      
                <!-- ############# -->
              </div>
            </section>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
  </body>
</html>
