<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electricidad Belgrano</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <link rel="stylesheet" href="css/normalize.css"></link>
  </head>
  <!-- <div class="top-header-top">Materiales eléctricos</div> -->
  <body>
    <!-- HEADER -->
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-logo">
            <img id="logo" src="./images/00-Logo-chico.png" alt="logo-elect-belgrano"/>
            </div>
            <!-- <h1 class="slogan">"Tu casa amiga en materiales eléctricos"</h1> -->
            <div class="main-header-search-bar">
            <form action="#">
                <input type="text" placeholder="Buscar productos, marcas y más" name="search">
                <button>
                <i class="fa fa-search" style="font-size: 12px;"></i>
                </button>
            </form>
            </div>
            <div class="main-header-cart">
            <a href="/productCart"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="main-header-user">
            <a href="/login"><i class="fas fa-user-circle"></i></a>
            </div>
        </div>
        <nav class="main-header-nav-categories">
            <li><a href="">MÁS CATEGORIAS</i></a></li>
            <li><a href="">LÁMPARAS</a></li>
            <li><a href="">ILUMINACIÓN</a></li>
            <li><a href="">INTERRUPTORES</a></li>
            <li><a href="">CABLES</a></li>
            <li><a href="">CANALIZACIONES</a></li>
        </nav>
        <div class="main-header-burger-menu">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main class="main-product">
        <div class="product-figure-info">
            <div class="product-figure">
                <img src="./images/products/01-Luminaria-Emergencia-40LEDs.jpg" alt="Figura del producto seleccionado">
            </div>
            <div class="product-info">
                <h3 class="product-info-name">Nombre del producto</h3>
                <h5 class="product-info-brand">Marca del producto</h5>
                <p class="product-info-price"><b>&#x24 PRECIO</b> c/u</p>
                <div class="product-quantity">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="2000">
                </div>
                <br>
                <div class="product-add-to-chart">
                    <button style="width:75%" heigth="25px">Agregar al carrito 
                        <i class="fas fa-cart-plus" style="font-size: 20px;"></i>
                    </button>
                </div>
                <br>
                <div>
                    <a class="product-add-to-wishes" href="#">Agregar a mi lista de deseos
                        <i class="fas fa-heart-circle" style="font-size: 20px;"></i>
                    </a>
                </div>
                <br>
                <div class="product-payment-options">
                    <button style="width:75%" heigth="25px">Ver formas de pago 
                        <i class="fas fa-credit-card" style="font-size: 20px;"></i>
                    </button>
                </div>
                <br>
                <div class="product-info-uses">
                    <p>Información sobre los posibles usos del producto y sus ventajas</p>
                </div>
            </div>
        </div>
        <div class="product-description">
            <p class="product-full-description">Descripción completa del producto</p>
            <table style="border:0">
                <tr>
                    <td><b>Marca</b></td>
                    <td class="brand">Nombre de la marca</td>
                </tr>
                <tr>
                    <td><b>Modelo</b></td>
                    <td class="model">Nombre del modelo</td>
                </tr>
                <tr>
                    <td><b>Unidad de medida</b></td>
                    <td class="measure-unit">Tipo de unidad de medida</td>
                </tr>
                <tr>
                    <td><b>Atributo 1</b></td>
                    <td class="att-1">Valor del atributo 1</td>
                </tr>
                <tr>
                    <td><b>Atributo 2</b></td>
                    <td class="att-2">Valor del atributo 2</td>
                </tr>
                <tr>
                    <td><b>Atributo 3</b></td>
                    <td class="att-3">Valor del atributo 3</td>
                </tr>
                <tr>
                    <td><b>Atributo 4</b></td>
                    <td class="att-4">Valor del atributo 4</td>
                </tr>
                <tr>
                    <td><b>Atributo 5</b></td>
                    <td class="att-5">Valor del atributo 5</td>
                </tr>
            </table>
        </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer">
        <nav class="main-footer-nav-info">
          <li><a href="">QUIÉNES SOMOS</i></a></li>
          <li><a href="">ESCRIBINOS</a></li>
          <li><a href="">DÓNDE ESTAMOS</a></li>
        </nav>
        <p>Celular de contacto: 2983512274</p>
        <p>Belgrano 230 - San Cayetano - Pcia. de Buenos Aires</p>                 
      </footer>
    <!-- &&&& -->
  </body>
</html>
