<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/style-products.css">
        </link>
</head>

<body>
    <!-- HEADER -->
    <header class="main-header">
        <%- include("partials/header") %>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main>
        <div class="form-product-create">
            <h3 class="form-create-title"> Cargá un nuevo producto!</h3>
            <form action="/products/" method="POST" enctype="multipart/form-data">
                <div class="div-create-forms">
                    <div class="formularios-create">
                        <label for="brand" class="form-label-create">Marca del producto:</label>
                        <input class="form-input-create" type="text" name="brand" id="brand"
                            placeholder="Ej: 'Schneider" />
                    </div>
                    <div class="formularios-create">
                        <label for="model" class="form-label-create">Modelo del producto:</label>
                        <input class="form-input-create" type="text" name="model" id="model"
                            placeholder="Ej: 'SKD-81" />
                    </div>
                    <div class="formularios-create">
                        <label for="category" class="form-label-create">Elija una categoria:</label>
                        <select id="category" name="category" class="form-input-create">
                            <option value="Cables">Cables</option>
                            <option value="Elect. Domiciliaria">Elect. Domiciliaria</option>
                            <option value="Energía Solar">Energía Solar</option>
                            <option value="Herramientas">Herramientas</option>
                            <option value="Hogar">Hogar</option>
                            <option value="Iluminacion">Iluminación</option>
                            <option value="Industria">Industria</option>
                            <option value="Lámparas">Lámparas</option>
                            <option value="Redes">Redes</option>
                            <option value="Seguridad">Seguridad</option>
                            <option value="Telefonía y porteros">Telefonía y porteros</option>
                            <option value="Vía Pública">Vía Pública</option>
                            <option value="Otra">Otra</option>
                        </select>
                    </div>
                    <div class="formularios-create">
                        <label for="subcategory" class="form-label-create">Elija una subcategoria:</label>
                        <select id="subcategory" name="subcategory" class="form-input-create">
                            <option value="Cables">Cables</option>
                            <option value="Elect. Domiciliaria">Elect. Domiciliaria</option>
                            <option value="Energía Solar">Energía Solar</option>
                            <option value="Herramientas">Herramientas</option>
                            <option value="Hogar">Hogar</option>
                            <option value="Iluminacion">Iluminación</option>
                            <option value="Industria">Industria</option>
                            <option value="Lámparas">Lámparas</option>
                            <option value="Redes">Redes</option>
                            <option value="Seguridad">Seguridad</option>
                            <option value="Telefonía y porteros">Telefonía y porteros</option>
                            <option value="Vía Pública">Vía Pública</option>
                            <option value="Otra">Otra</option>
                        </select>
                    </div>
                    <div class="formularios-create">
                        <label for="nonvatPrice" class="form-label-create">Precio del producto:</label>
                        <input class="form-input-create" type="number" name="nonvatPrice" id="nonvatPrice"
                            placeholder="Ej: 27778" />
                    </div>
                    <div class="formularios-create">
                        <label for="discount" class="form-label-create">Descuento:</label>
                        <input class="form-input-create" type="number" name="discount" id="discount"
                            placeholder="Ej: 15" />
                    </div>
                    <div class="formularios-create">
                        <label for="status" class="form-label-create">Elija un estado:</label>
                        <select id="status" name="status" class="form-input-create">
                            <option value="new">Nuevo ingreso</option>
                            <option value="hot-sale">En oferta</option>
                        </select>
                    </div>
                    <div class="formularios-create">
                        <label for="productImage" class="form-label-create">Imagen:</label>
                        <input type="file" id="productImage" name="productImage"
                            class="form-input-create">
                    </div>
                    <div class="formularios-create-description">
                        <label for="description" class="form-label-create">Describa su producto:</label>
                        <textarea name="description" id="description" class="form-input-create-description"></textarea>
                    </div>
                    <div class="formularios-create-button">
                        <input class="button-create" type="submit" value="Crear producto" />
                    </div>
                    </div>
                </div>
            </form>
        </div>


    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer">
        <%- include("partials/footer") %>
    </footer>
    <!-- &&&& -->
</body>

</html>