<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/style-products.css">
    </link>
  </head>
  <!-- <div class="top-header-top">Materiales eléctricos</div> -->
  
  <body>
    <!-- HEADER -->
    <header class="main-header">
      <%- include("partials/header") %>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main class="quienes-somos">
        <h1 class="titulo-quienes">QUIENES SOMOS</h1>
        <h3 class="parrafo-quienes">Electricidad Belgrano es una empresa argentina que se dedica a la distribución de materiales eléctricos e iluminación, tanto mayorista como minorista.
         Contamos con una estructura comercial joven y dinámica, en constante desarrollo de herramientas y un equipo de asesores especializados por segmento que nos permite realizar una atención personalizada y adecuada para cada proyecto.
         Nuestro trabajo en estos años nos ha permitido posicionarnos como una de las empresas líderes en la comercialización de las principales marcas de nuestro rubro. 
         No conformes con eso, estamos en constante búsqueda e incorporación de estrategias y tecnología para poder continuar ofreciendo productos de alta calidad y la mejor atención a cada uno de nuestros clientes.
        </h3>
        <h1 class="titulo-quienes">QUERES VISITARNOS?</h1>
      <div class="ubicacion-quienes">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.2294358067043!2d-59.612104884918345!3d-38.34367137232212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9591e257df493331%3A0xe17c1a02d589e871!2sBelgrano%20230%2C%20San%20Cayetano%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1664495393063!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
     
         </main>
  <!-- FOOTER -->
  <nav class="main-footer-nav-info">

    <li><a href="">ESCRIBINOS</a></li>
    <li><a href="">DÓNDE ESTAMOS</a></li>
</nav>
<p>Celular de contacto: 2983512274</p>

  <!-- &&&& -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>