<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <!-- <div class="top-header-top">Materiales eléctricos</div> -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIinN -->
    <main class="main-register">
      <div class="form-register">
        <h3>Registrate</h3>
        <br />
        <input
          class="controls"
          type="text"
          name="name"
          id="name"
          placeholder="Ingrese su Nombre"
        />
        <br />
        <input
          class="controls"
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Ingrese su Apellido"
        />
        <br />
        <input
          class="controls"
          type="email"
          name="email"
          id="email"
          placeholder="Ingrese su Correo"
        />
        <br />
        <input
          class="controls"
          type="password"
          name="password"
          id="password"
          placeholder="Ingrese su contraseña"
        />
        <br />
        <p><a href="#">Estoy de acuerdo con Terminos y Condiciones</a></p>
        <br />
        <input class="buttons" type="submit" value="Registrar" />
        <br />
        <p><a href="/login">Ya tenes cuenta?</a></p>
      </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
  </body>
</html>
