<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/style-users.css"></link>
  </head>
  <!-- EN CONSTRUCCION... -->
  <!-- DESDE ACA... hay que armar la vista de usuarios -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIN -->
    <!-- <main class="main-products"> VER SI NO TIENE EFECTOS -->
    <main class="main-users">
      <section>
        <h3 class="users-title">Todos los usuarios</h3>
        <div class="users-articles">
          <!-- ############# -->
          <% users.forEach(user => { %>
            <%- include("partials/user", {user}) %>
          <% }) %>      
          <!-- ############# -->
        </div>
      </section>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
  </body>
</html>
