<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electricidad Belgrano</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <link rel="stylesheet" href="css/normalize.css"></link>
  </head>
  <body>
    <header class="main-header">
      <div class="logo-search">
        <div>
          <img id="logo" width="180" src="./images/00-Logo.png" alt="logo-elect-belgrano"/>
        </div>
        <div class="search">
          <form action="#">
              <input type="text"
                  placeholder="Buscar productos, marcas y más"
                  name="search">
              <button>
                  <i class="fa fa-search"
                      style="font-size: 18px;">
                  </i>
              </button>
          </form>
        </div>
      </div>
      <!-- ############# -->
      <nav class="nav-menu">
        <ul class="item-list">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tienda Oficial</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="account-item-list">
          <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
          <li><a href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
  </body>
</html>
