<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electricidad Belgrano</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <link rel="stylesheet" href="css/normalize.css"></link>
  </head>
  <body>
    <header class="main-header">
      <div class="logo-search-user">
        <div>
          <img id="logo" width="180" src="./images/00-Logo.png" alt="logo-elect-belgrano"/>
        </div>
        <div class="search">
          <form action="#">
              <input type="text" placeholder="Buscar productos, marcas y más" name="search">
              <button>
                  <i class="fa fa-search" style="font-size: 18px;"></i>
              </button>
          </form>
        </div>
        <div class="cart-user">
          <div>
            <a class="cart-icon" href=""><i class="fas fa-cart-plus" style="font-size: 18px;"></i></a>
          </div>
          <div>
            <a class="cart-icon" href=""><i class="fas fa-user" style="font-size: 18px;"></i></a>
          </div>
        </div>
      </div>
      <!-- ############# -->
      <nav class="nav-categories">
          <li><a href="">MÁS CATEGORIAS</a></li>
          <li><a href="">LÁMPARAS</a></li>
          <li><a href="">ILUMINACIÓN</a></li>
          <li><a href="">INTERRUPTORES</a></li>
          <li><a href="">CABLES</a></li>
          <li><a href="">CANALIZACIONES</a></li>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>Hola gente</main>
  </body>
</html>
