<article>
  <a href="/products/productDetail/<%= product.id %>">
    <img src=<%= (product.image != undefined) ? "/images/products/"+product.image : "/images/products/img-default-"+product.category.toLowerCase()+".jpg" %>
       width="360" alt="img-<%= product.category.toLowerCase() %>.jpg" />
  </a>
  <div class="main-section-article-info">
    <!-- <i class="fas fa-truck"></i> -->
    <div class="main-section-article-info-price">
      <p class="article-price">$ <%= product.nonvatPrice %></p>
      <p style="font-size: 12px">(sin IVA)</p>
      <p class="article-discount">% <%= product.discount %></p>
    </div>
    <p class="article-name"><%= product.category %></p>
    <p class="article-name"><%= product.subcategory %></p>
    <p class="article-name"><%= product.description %></p>
  </div>
</article>

<!-- Por hacer: -->
<!-- If entra por category, mostrar marca -->
<!-- If entra por marca, mostrar categoria -->
<!-- else, mostrar marca y categoria -->