<article>
  <img src=<%=product.image%> width="360" alt=<% "img-"+ product.name %> />
  <div class="main-section-article-info">
    <!-- <i class="fas fa-truck"></i> -->
    <div class="main-section-article-info-price">
      <p class="article-price">$ <%= product.price %></p>
      <p class="article-discount"><%= product.discount %></p>
    </div>
    <p class="article-name"><%= product.name %></p>
  </div>
</article>
