<nav class="main-footer-nav-info">
    <li><a href="../quienes">QUIÉNES SOMOS</i></a></li>
    <li><a href="">ESCRIBINOS</a></li>
    <li><a href="">DÓNDE ESTAMOS</a></li>
</nav>
<p>Celular de contacto: 2983512274</p>
<p>Belgrano 230 - San Cayetano - Pcia. de Buenos Aires</p>