<div class="main-header-top-bar">
  <div class="main-header-logo">
    <a href="/"><img id="logo" src="/images/00-Logo-chico.png" alt="logo-elect-belgrano" /></a>
  </div>
  <!-- <h1 class="slogan">"Tu casa amiga en materiales eléctricos"</h1> -->
  <div class="main-header-search-bar">
    <form action="/products/productSearch" method="GET">
      <input type="text" placeholder="Buscar productos, marcas y más" name="search">
      <button>
        <i class="fa fa-search" style="font-size: 12px;"></i>
      </button>
    </form>
  </div>
    <div class="main-header-icons">
      <a href="/products/productCart"><i class="fas fa-cart-plus"></i></a>
    </div>
    <!-- íconos según usuario -->
    <% if (locals.isAnUserLogged == true) { %>
      <% if (locals.adminLogged == true) { %>
        <div class="main-header-icons">
          <a href="/products/create"><i class="fas fa-plus-circle"></i></a>
        </div>
        <div class="main-header-icons">
          <a href="http://localhost:3001/"><i class="fas fa-chart-bar"></i></a>
        </div>
        <div class="main-header-icons">
          <a href="/users"><i class="fas fa-users"></i></a>
        </div>
        <% } else { %>
        <div class="main-header-icons">
          <a href="/users/profile"><i class="fas fa-user"></i></a>
        </div>
        <%} %>
      <div class="main-header-icons">
        <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    <% } else { %>
      <div class="main-header-icons">
        <a href="/users/login"><i class="fas fa-user-circle"></i></a>
      </div>
      <%} %>
</div>
<nav class="main-header-nav-categories">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      MÁS CATEGORIAS
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/products/domiciliaria">ELECT DOMICILIARIA</a></li>
      <li><a class="dropdown-item" href="/products/solar">ENERGÍA SOLAR</a></li>
      <li><a class="dropdown-item" href="/products/herramientas">HERRAMIENTAS</a></li>
      <li><a class="dropdown-item" href="/products/industria">INDUSTRIA</a></li>
      <li><a class="dropdown-item" href="/products/redes">REDES</a></li>
      <li><a class="dropdown-item" href="/products/saldos">SALDOS</a></li>
      <li><a class="dropdown-item" href="/products/porteros">TELEFONÍA Y PORTEROS</a></li>
      <li><a class="dropdown-item" href="/products/via">VÍA PÚBLICA</a></li>
    </ul>
  </div>
  <li><a href="/products/lamparas" >LÁMPARAS</a></li>
  <li><a href="/products/iluminacion">ILUMINACIÓN</a></li>
  <li><a href="/products/hogar">HOGAR</a></li>
  <li><a href="/products/seguridad">SEGURIDAD</a></li>
  <li><a href="/products/cables">CABLES</a></li>
</nav>
<div class="main-header-burger-menu">
  <a href="#"><i class="fas fa-bars"></i></a>
</div>