<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Electricidad Belgrano</title>
<link rel="stylesheet" href="/css/style-gral.css"></link>
<link rel="stylesheet" href="/css/normalize.css"></link>