<div class="main-header-top-bar">
  <div class="main-header-logo">
    <a href="/"><img id="logo" src="/images/00-Logo-chico.png" alt="logo-elect-belgrano" /></a>
  </div>
  <!-- <h1 class="slogan">"Tu casa amiga en materiales eléctricos"</h1> -->
  <div class="main-header-search-bar">
    <form action="/products/productSearch" method="GET">
      <input type="text" placeholder="Buscar productos, marcas y más" name="search">
      <button>
        <i class="fa fa-search" style="font-size: 12px;"></i>
      </button>
    </form>
  </div>
    <div class="main-header-icons">
      <a href="/products/productCart"><i class="fas fa-cart-plus"></i></a>
    </div>
    <!-- íconos según usuario -->
    <% if (locals.isAnUserLogged == true) { %>
      <% if (locals.adminLogged == true) { %>
        <div class="main-header-icons">
          <a href="/products/create"><i class="fas fa-plus-circle"></i></a>
        </div>
        <div class="main-header-icons">
          <a href="/analytics"><i class="fas fa-chart-bar"></i></a>
        </div>
        <div class="main-header-icons">
          <a href="/users"><i class="fas fa-users"></i></a>
        </div>
        <% } else { %>
        <div class="main-header-icons">
          <a href="/users/profile"><i class="fas fa-user"></i></a>
        </div>
        <%} %>
      <div class="main-header-icons">
        <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    <% } else { %>
      <div class="main-header-icons">
        <a href="/users/login"><i class="fas fa-user-circle"></i></a>
      </div>
      <%} %>
</div>
<nav class="main-header-nav-categories">
  <li><a href="">MÁS CATEGORIAS</i></a></li>
  <li><a href="">LÁMPARAS</a></li>
  <li><a href="">ILUMINACIÓN</a></li>
  <li><a href="">INTERRUPTORES</a></li>
  <li><a href="">CABLES</a></li>
  <li><a href="">CANALIZACIONES</a></li>
</nav>
<div class="main-header-burger-menu">
  <a href="#"><i class="fas fa-bars"></i></a>
</div>